@page
@*@using HomePetCare.App.Frontend.Pages*@

@model HomePetCare.App.Frontend.Pages.EditModel
@{
    @*int mascotaId=Model.Mascota.Id;*@
}
<h2>Editar datos de Mascota @*Model.Mascota.Nombre*@</h2>

<form method="post">
    <input type="hidden" asp-for="Mascota.Id" />
    <div class="form-group">
        <label asp-for="Mascota.Id"></label>
        <input asp-for="Mascota.Id" class="form-control">
        <span class="text-danger" asp-validation-for="Mascota.Id"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mascota.Nombre"></label>
        <input asp-for="Mascota.Nombre" class ="form-control">
        <span class="text-danger" asp-validation-for="Mascota.Nombre"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>

</form> 

<a asp-page="./List" class="btn-default">Volver a la lista de Mascotas</a>
